DOMAIN_NAME=<login>.42.fr
WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=siteowner
WORDPRESS_ADMIN_EMAIL=siteowner@<login>.42.fr
WORDPRESS_USER=author
WORDPRESS_USER_EMAIL=author@<login>.42.fr
MARIADB_DATA_PATH=/home/<login>/data/mariadb
WORDPRESS_DATA_PATH=/home/<login>/data/wordpress
